@import url('https://fonts.googleapis.com/css2?family=Uncial+Antiqua&display=swap');

:root {
  --black: rgb(0, 0, 0);
  --white: rgb(255, 255, 255);
  /*  */
  --theme-none-text: rgb(8, 19, 41);
  --theme-none-bg: rgb(82, 167, 82);
  --theme-none-output: rgba(82, 167, 82, 0.6);
  --theme-none-output-text: rgb(8, 19, 41);
  --theme-none-button: rgb(8, 19, 41);
  --theme-none-button-text: var(--white);
  --theme-none-scrollbar: rgb(8, 19, 41);
  --theme-none-bg-image: url('./img/bg/seamless_green_background.jpg');
  /*  */
  --theme-forest-text: rgb(8, 19, 41);
  --theme-forest-bg: rgb(9, 48, 9);
  --theme-forest-output: rgba(9, 48, 9, 0.6);
  --theme-forest-output-text: rgb(228, 212, 140);
  --theme-forest-button: rgb(228, 212, 140);
  --theme-forest-button-text: rgb(8, 19, 41);
  --theme-forest-scrollbar: rgb(228, 212, 140);
  --theme-forest-bg-image: url('./img/bg/green_web_background.jpg');
  /*  */
  --theme-cabin-text: rgb(8, 19, 41);
  --theme-cabin-bg: rgb(9, 48, 9);
  --theme-cabin-output: rgba(9, 48, 9, 0.6);
  --theme-cabin-output-text: rgb(228, 212, 140);
  --theme-cabin-button: rgb(228, 212, 140);
  --theme-cabin-button-text: rgb(8, 19, 41);
  --theme-cabin-scrollbar: rgb(228, 212, 140);
  --theme-cabin-bg-image: url('./img/bg/dark_brown_timber_wall_texture.jpg');
  /*  */
  --theme-urban-text: rgb(170, 175, 180);
  --theme-urban-bg: rgb(21, 22, 24);
  --theme-urban-output: rgba(21, 22, 24, 0.6);
  --theme-urban-output-text: rgb(170, 175, 180);
  --theme-urban-button: rgb(170, 175, 180);
  --theme-urban-button-text: rgb(21, 22, 24);
  --theme-urban-scrollbar: rgb(170, 175, 180);
  --theme-urban-bg-image: url('./img/bg/metal_background_pattern_with_rivets.jpg');
  /*  */
  --theme-beach-text: rgb(8, 19, 41);
  --theme-beach-bg: rgb(104, 181, 236);
  --theme-beach-output: rgba(231, 195, 116, 0.7);
  --theme-beach-output-text: rgb(8, 19, 41);
  --theme-beach-button: rgb(104, 181, 236);
  --theme-beach-button-text: rgb(8, 19, 41);
  --theme-beach-scrollbar: rgb(104, 181, 236);
  --theme-beach-bg-image: url('./img/bg/abstract_water_texture-seamless.jpg');
  /*  */
  --theme-cliffs-text: rgb(28, 15, 4);
  --theme-cliffs-bg: rgb(173, 161, 136);
  --theme-cliffs-output: rgba(231, 195, 116, 0.6);
  --theme-cliffs-output-text: rgb(28, 15, 4);
  --theme-cliffs-button: rgb(28, 15, 4);
  --theme-cliffs-button-text: rgb(173, 161, 136);
  --theme-cliffs-scrollbar: rgb(28, 15, 4);
  --theme-cliffs-bg-image: url('./img/bg/seamless-stone-like-background.jpg');
  /*  */
  --theme-lake-text: rgb(8, 19, 41);
  --theme-lake-bg: rgb(104, 181, 236);
  --theme-lake-output: rgba(82, 167, 82, 0.7);
  --theme-lake-output-text: rgb(8, 19, 41);
  --theme-lake-button: rgb(8, 19, 41);
  --theme-lake-button-text: var(--white);
  --theme-lake-scrollbar: rgb(8, 19, 41);
  --theme-lake-bg-image: url('./img/bg/abstract_water_texture-seamless.jpg');
  /* */
  --theme-haunt-text: rgb(122, 209, 189);
  --theme-haunt-bg: rgb(13, 56, 34);
  --theme-haunt-output: rgba(13, 56, 34, 0.6);
  --theme-haunt-output-text: rgb(122, 209, 189);
  --theme-haunt-button: rgb(122, 209, 189);
  --theme-haunt-button-text: rgb(13, 56, 34);
  --theme-haunt-scrollbar: rgb(122, 209, 189);
  --theme-haunt-bg-image: url('./img/bg/seamless_dark_decorative_background.jpg');
  /*  */
  --theme-mountain-text: rgb(8, 19, 41);
  --theme-mountain-bg: rgb(214, 241, 245);
  --theme-mountain-output: rgba(214, 241, 245, 0.6);
  --theme-mountain-output-text: rgb(8, 19, 41);
  --theme-mountain-button: rgb(8, 19, 41);
  --theme-mountain-button-text: rgb(214, 241, 245);
  --theme-mountain-scrollbar: rgb(8, 19, 41);
  --theme-mountain-bg-image: url('./img/bg/light_web_background.jpg');
}
@font-face {
	font-family: 'UncialAntiqua';
	src: url('UncialAntiqua-Regular.ttf') format('truetype');
}

body {
  --text: var(--theme-none-text);
  --bg: var(--theme-none-bg);
  --output: var(--theme-none-output);
  --output-text: var(--theme-none-output-text);
  --button: var(--theme-none-button);
  --button-text: var(--theme-none-button-text);
  --scrollbar: var(--theme-none-scrollbar);
  --bg-image: var(--theme-none-bg-image);

  margin: 0;
  font-family: sans-serif;
  background-color: var(--bg);
  color: var(--text);
  transition: color background-color 1s;
}

.bg {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  opacity: 0;
  transition: opacity 2s;
  z-index: -1;
}

.bg-none {
  background-image: var(--bg-image);
  opacity: 1;
}

h1 {
  font-family: "Uncial Antiqua", system-ui;
  text-transform: uppercase;
  text-align: center;
}

img {
	border:0px;
	max-width: 100%;
	height: auto;
	width: auto\9; /* ie8 */
}

.controls {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 1rem;
  margin-block-end: 1rem;
}

:is(button, .button) {
  border: 0;
  border-radius: 5px;
  padding: 0.5rem 2rem;
  margin-right: 1rem;
  background: var(--button);
  color: var(--button-text);
  cursor: pointer;
  transition: 0.5s;
  text-decoration: none;
}

:is(button, .button):is(:hover, :focus-visible) {
  opacity: 0.6;
}

:is(button, .button):disabled {
  pointer-events: none;
  opacity: 0.4;
}

a {
  color: inherit;
}

a:has(h1) {
  text-decoration: none;
}

.wrapper {
  height: 100vh;
  max-width: 60rem;
  margin: 0 auto;
  padding: 0 1rem;
  display: flex;
  flex-direction: column;
}

.output {
  border: 1px solid;
  border-radius: 5px;
  flex-grow: 1;
  height: 70vh;
  overflow-y: auto;
  padding: 1rem;
  position: relative;
  background-color: var(--output);
  color: var(--output-text);
  scrollbar-color: var(--scrollbar) transparent;
}

.output :is(p, button, img, h2) {
  animation: fadeIn 1s;
  margin-bottom: 1rem;
}

.output .password-form {
  animation: fadeIn 1s;
  margin-bottom: 2rem;
  display: flex;
  column-gap: 1rem;
  row-gap: 0.5rem;
  flex-wrap: wrap;

  label {
    width: 100%;
  }

  button[type="submit"] {
    flex-shrink: 0;
    margin: 0;
  }
}

dialog {
  background-image: var(--bg-image);
  color: var(--output-text);
  border: 1px solid;
  padding: 0;
  max-width: 40rem;

  h2 {
    margin-top: 0;
  }

  > div {
    background-color: var(--output);
    padding: 1rem;
  }
}

dialog::backdrop {
  background-color: rgba(0,0,0,0.5);
}

@keyframes fadeIn {
  0% {opacity:0;}
  100% {opacity:1;}
}

.center {
  text-align: center;
}

footer {
  padding: 1rem 0;
  font-size: 0.7rem;
}

/* THEMES */

:is(body.forest, body.cabin, body.beach, body.haunt, body.mountain, body.lake, body.cliffs) .bg-none {
  opacity: 0;
}

body.forest {
  --text: var(--theme-forest-text);
  --bg: var(--theme-forest-bg);
  --output: var(--theme-forest-output);
  --output-text: var(--theme-forest-output-text);
  --button: var(--theme-forest-button);
  --button-text: var(--theme-forest-button-text);
  --scrollbar: var(--theme-forest-scrollbar);
  --bg-image: var(--theme-forest-bg-image);

  .bg-forest {
    background-image: var(--bg-image);
    opacity: 1;
  }
}

body.cabin {
  --text: var(--theme-cabin-text);
  --bg: var(--theme-cabin-bg);
  --output: var(--theme-cabin-output);
  --output-text: var(--theme-cabin-output-text);
  --button: var(--theme-cabin-button);
  --button-text: var(--theme-cabin-button-text);
  --scrollbar: var(--theme-cabin-scrollbar);
  --bg-image: var(--theme-cabin-bg-image);

  .bg-cabin {
    background-image: var(--bg-image);
    opacity: 1;
  }
}

body.urban {
  --text: var(--theme-urban-text);
  --bg: var(--theme-urban-bg);
  --output: var(--theme-urban-output);
  --output-text: var(--theme-urban-output-text);
  --button: var(--theme-urban-button);
  --button-text: var(--theme-urban-button-text);
  --scrollbar: var(--theme-urban-scrollbar);
  --bg-image: var(--theme-urban-bg-image);

  .bg-urban {
    background-image: var(--bg-image);
    opacity: 1;
  }
}

body.beach {
  --text: var(--theme-beach-text);
  --bg: var(--theme-beach-bg);
  --output: var(--theme-beach-output);
  --output-text: var(--theme-beach-output-text);
  --button: var(--theme-beach-button);
  --button-text: var(--theme-beach-button-text);
  --scrollbar: var(--theme-beach-scrollbar);
  --bg-image: var(--theme-beach-bg-image);

  .bg-beach {
    background-image: var(--bg-image);
    opacity: 1;
  }
}

body.cliffs {
  --text: var(--theme-cliffs-text);
  --bg: var(--theme-cliffs-bg);
  --output: var(--theme-cliffs-output);
  --output-text: var(--theme-cliffs-output-text);
  --button: var(--theme-cliffs-button);
  --button-text: var(--theme-cliffs-button-text);
  --scrollbar: var(--theme-cliffs-scrollbar);
  --bg-image: var(--theme-cliffs-bg-image);

  .bg-cliffs {
    background-image: var(--bg-image);
    opacity: 1;
  }
}

body.lake {
  --text: var(--theme-lake-text);
  --bg: var(--theme-lake-bg);
  --output: var(--theme-lake-output);
  --output-text: var(--theme-lake-output-text);
  --button: var(--theme-lake-button);
  --button-text: var(--theme-lake-button-text);
  --scrollbar: var(--theme-lake-scrollbar);
  --bg-image: var(--theme-lake-bg-image);

  .bg-lake {
    background-image: var(--bg-image);
    opacity: 1;
  }
}

body.haunt {
  --text: var(--theme-haunt-text);
  --bg: var(--theme-haunt-bg);
  --output: var(--theme-haunt-output);
  --output-text: var(--theme-haunt-output-text);
  --button: var(--theme-haunt-button);
  --button-text: var(--theme-haunt-button-text);
  --scrollbar: var(--theme-haunt-scrollbar);
  --bg-image: var(--theme-haunt-bg-image);

  .bg-haunt {
    background-image: var(--bg-image);
    opacity: 1;
  }
}

body.mountain {
  --text: var(--theme-mountain-text);
  --bg: var(--theme-mountain-bg);
  --output: var(--theme-mountain-output);
  --output-text: var(--theme-mountain-output-text);
  --button: var(--theme-mountain-button);
  --button-text: var(--theme-mountain-button-text);
  --scrollbar: var(--theme-mountain-scrollbar);
  --bg-image: var(--theme-mountain-bg-image);

  .bg-mountain {
    background-image: var(--bg-image);
    opacity: 1;
  }
}
